/*------------------------------------*\
    $GENERICS
\*------------------------------------*/
strong{
    font-weight:inherit;
    background-color:rgba($brand-color, .7);
    color:#333;
}





/*------------------------------------*\
    $SELECTION
\*------------------------------------*/
::selection{
    background:$brand-color;
}
::-moz-selection{
    background:$brand-color;
}